# Data Cleaning Studio

You are part of a team working for an agricultural nonprofit based in California. Your nonprofit focuses on helping farmers in the state grow profitable crops in environmentally-friendly ways in an effort to reduce the impact of climate change on the state and provide enough food for the state's 39.5 million residents. With Halloween on the horizon, you and your team are looking to analyze past pumpkin crops to try and answer several questions:
1. Are pumpkins sold at terminal markets in California (San Francisco and Los Angeles) grown in California?
1. Is the harvest season for pumpkins grown in California consistent year-to-year?
1. Are pumpkin farmers growing specific varieties of pumpkins for specific reasons?

The answers to these questions will help your nonprofit decide if they should promote specific varieties or growing practices to the farmers they serve in time for seeds to be planted next year. Your team has already performed some exploratory analysis on the San Francisco terminal market report of pumpkin sales from 9/2016-9/2017. Now it is time to clean the data!

Before diving in to cleaning the data, here is a quick guide to the different columns in the USDA report and what they mean:
- Commodity Name: This CSV structure is used for lots of USDA reports. In this case, the commodity is pumpkins
- City Name: City where the pumpkin was sold. The city is a terminal market location within the United States.
- Type: This refers to the type of farming used in growing the pumpkins
- Package: The way the pumpkins were packed for sale
- Variety: Specific type of pumpkin, i.e. pie pumpkin or a Howden pumpkin
- Sub Variety: Addition classifications about the pumpkins, i.e. is it a flat pumpkin?
- Grade: In the US, usually only canned pumpkin is graded
- Date: Date of sale (rounded up to the nearest Saturday)
- Low Price: This price is in reference to sale price
- High Price: This price is in reference to sale price
- Mostly Low: This column is not measured for pumpkins
- Mostly High: This column is not measured for pumpkins
- Origin: Which state the pumpkins were grown in
- Origin District: Additional information about pumpkins' origin location
- Item Size: Abbreviations denoting size, i.e. jbo = jumbo, lrg = large
- Color: Color of pumpkins
- Environment: Additional information about pumpkins' growing environment
- Unit of Sale: The unit the customer bought at market, i.e. if they bought pumpkins by the pound, the data should say "PER LB" or  if they bought pumpkins by the bin, it would say "PER BIN"
- Quality: Additional notes about pumpkin quality as necessary
- Condition: Additional notes about pumpkin condition as necessary
- Appearance: Additional notes about pumpkin appearance as necessary
- Storage: Additional notes about pumpkin storage as necessary
- Crop: Additional notes about pumpkin crop as necessary
- Repack: Whether the pumpkin has been repackaged before sale
- Trans Mode: Mode of transportation used to get pumpkins to terminal market

In [12]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv("san-fransisco_9-24-2016_9-30-2017.csv")

In [13]:
data.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,SAN FRANCISCO,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,155.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,SAN FRANCISCO,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,155.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,SAN FRANCISCO,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,155.0,155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,SAN FRANCISCO,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,135.0,135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,SAN FRANCISCO,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,10/08/2016,135.0,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [14]:
for col in data.columns:
    pct_missing = np.mean(data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 78%
Package - 0%
Variety - 0%
Sub Variety - 61%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 75%
Color - 72%
Environment - 100%
Unit of Sale - 100%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [15]:
# Checking the overall percentage of missing data from the data set

total_cells = np.product(data.shape)

missing_cells = pd.isnull(data).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")

51.0 % Missing cells from the data

### Question 1: 

Look at the percentages of missing data per coluum.  There are quite a few columns with less than 100% of the data.  What do you want to do with each column?   Consider the following options for each and write down your thoughts in a box below this one.
1. Drop the Observation
1. Drop the Feature
1. Impute the Missing Values
1. Replace the Missing Values

In [16]:
# Answer Question 1 here:

# Columns with 100% missing data can be dropped as they don't contain any information. So, we can drop the 'Grade', 
# 'Origin District', 'Item Size', 'Color', 'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance', 
# 'Storage', 'Crop', and 'Trans Mode' columns due to their 100% missing data.

# We can consider dropping the 'Type' column if it is not essential for the analysis due to its 78% missing data.

# For the 'Sub Variety' column with 61% missing data, we can explore imputation techniques if the column is valuable 
# for the analysis.

# List of columns with 100% missing data
cols_to_drop = ['Grade', 'Origin District', 'Item Size', 'Color', 'Environment', 'Unit of Sale', 
                'Quality', 'Condition', 'Appearance', 'Storage', 'Crop', 'Trans Mode']

# Drop the columns with 100% missing data
data = data.drop(columns=cols_to_drop)

# Drop the 'Type' column with 78% missing data
data = data.drop(columns=['Type'])

# Print the updated DataFrame
print(data)

    Commodity Name      City Name        Package      Variety Sub Variety  \
0         PUMPKINS  SAN FRANCISCO   24 inch bins  HOWDEN TYPE         NaN
1         PUMPKINS  SAN FRANCISCO   24 inch bins  HOWDEN TYPE         NaN
2         PUMPKINS  SAN FRANCISCO   24 inch bins  HOWDEN TYPE         NaN
3         PUMPKINS  SAN FRANCISCO   24 inch bins  HOWDEN TYPE         NaN
4         PUMPKINS  SAN FRANCISCO   24 inch bins  HOWDEN TYPE         NaN
..             ...            ...            ...          ...         ...
161       PUMPKINS  SAN FRANCISCO  40 lb cartons    MINIATURE  ROUND TYPE
162       PUMPKINS  SAN FRANCISCO  40 lb cartons    MINIATURE  ROUND TYPE
163       PUMPKINS  SAN FRANCISCO  40 lb cartons    MINIATURE  ROUND TYPE
164       PUMPKINS  SAN FRANCISCO  40 lb cartons    MINIATURE  ROUND TYPE
165       PUMPKINS  SAN FRANCISCO  40 lb cartons    MINIATURE  ROUND TYPE

           Date  Low Price  High Price  Mostly Low  Mostly High      Origin  \
0    09/24/2016      155.0       155.0       155.0        155.0  CALIFORNIA
1    10/01/2016      155.0       155.0       155.0        155.0  CALIFORNIA
2    10/01/2016      155.0       155.0       155.0        155.0  CALIFORNIA
3    10/01/2016      135.0       135.0       135.0        135.0  CALIFORNIA
4    10/08/2016      135.0       150.0       135.0        150.0  CALIFORNIA
..          ...        ...         ...         ...          ...         ...
161  10/08/2016       30.0        35.0        30.0         35.0  CALIFORNIA
162  10/15/2016       30.0        35.0        30.0         35.0  CALIFORNIA
163  10/22/2016       30.0        35.0        30.0         35.0  CALIFORNIA
164  10/29/2016       30.0        30.0        30.0         30.0  CALIFORNIA
165  11/05/2016       30.0        30.0        30.0         30.0  CALIFORNIA

    Repack
0        N
1        N
2        N
3        N
4        N
..     ...
161      N
162      N
163      N
164      N
165      N

[166 rows x 12 columns]

In [17]:
# Repack Column
data["Repack"] = data["Repack"].replace({"N":False})
#Check status with a quick head check
data.head(3)

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Repack
0,PUMPKINS,SAN FRANCISCO,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,155.0,155.0,155.0,155.0,CALIFORNIA,False
1,PUMPKINS,SAN FRANCISCO,24 inch bins,HOWDEN TYPE,NaN,10/01/2016,155.0,155.0,155.0,155.0,CALIFORNIA,False
2,PUMPKINS,SAN FRANCISCO,24 inch bins,HOWDEN TYPE,NaN,10/01/2016,155.0,155.0,155.0,155.0,CALIFORNIA,False

# Question 2:

Look at the "Type" column.  This column contains two values, "Organic" and "NaN".  
When it comes to food, food is either typically designated as "Organic" or "Conventional" based on farming practices.  

Do you think we should update the "NaN" values to "Conventional"?  Why or Why not?

In [18]:
# Answers Question 2:

In [19]:
# Fill the Missing Values in the Type Column
data["Type"] = data["Type"].fillna("Conventional")

KeyError: 'Type'

# Question 3

Based on the information provided by our team, "Grade" is only applied to canned pumpkin.  
These were all uncanned, whole pumpkins.  This column is irrelevant to the dataset.

We are going to drop the column.  Do you agree with this choice?  Why or why not?

In [ ]:
# Answer Question 3 here:

In [ ]:
# Grade Column 
data = data.drop(["Grade"], axis=1)

In [ ]:
#Check with shape
data.shape

# Question 4

Decide which columns are relevant and irrelevant as a group.

Do you think any of the columns empty for a reason?  What reason do you think? 
Is this intentional or unintentional?  
What do you think?

In [ ]:
# Explain your rationale breifly here:

In [ ]:
# Drop the ones you decide are irrelevant using the code we used to drop the "Grade Column"

# Question 5:

Plot the outliers for them.
histogram of date vs. sales


What do you think about the dates?

In [ ]:
# Answer 5 here:

In [ ]:
# # bar chart -  distribution of a categorical variable
data['Date'].value_counts().plot.bar()

In [ ]:
# # histogram of dates.
data['Date'].hist(bins=100)
plt.xticks(rotation=90)

#ignore the lists above the histogram for right now.  Examine the histogram.

# Question 6:

Are there any points in this data set that you worry about inconsistencies? 
Where?  What would you want to check?  Why?

In [ ]:
# Answer Question 6 here:

# Bonus Mission

Fix the LA page at this link: [A Year of Pumpkin Prices](https://www.kaggle.com/usda/a-year-of-pumpkin-prices)